.dirButton {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.left {
    height: 600px;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 15%;
}

.right {
    height: 600px;
    float: right;
    width: 15%;
}

.middle {
    height: 600px;
    display: inline-block;
    width: 70%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}